body {
  background-color: rgb(236, 238, 248);
  font-family: sans-serif;
  padding: 0%;
  margin: 0%;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  list-style-type: none;
  color: black;
}
nav ul li a {
  text-decoration: none;
  list-style-type: none;
  color: black;
  margin-left: 2rem;
  color: white;
  margin-top: 2rem;
}
li {
  margin-top: 2rem;
}

.bg-header {
  background: linear-gradient(
    90deg,
    hsla(233, 62%, 15%, 1) 0%,
    hsla(250, 68%, 34%, 1) 100%
  );
  color: white;
  height: 35rem;
}
header {
  text-align: center;
}
.main-img {
  height: 30rem;
  width: 23rem;
}

.blog-post {
  margin-top: 2rem;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 40rem;
  transition: transform 0.3s, box-shadow 0.3s;
}

#blog-posts {
  display: flex;
  align-content: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

footer {
  margin-top: 2rem;
  background-color: rgb(0, 0, 0);
  color: white;
  height: 20rem;
}

footer p {
  padding-top: 3rem;
  text-align: center;
}
